#logo {
  width: 200px;
}

h1 {
  font-size: 45pt;
  font-family: sans-serif;
  color: black;
  margin-left: 25%;
  margin-right: 25%;
}

@media only screen and (max-width: 768px) {
  #logo {
    width: 100px;
  }
  h1 {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer {
  position: relative;
  bottom: 0;
}

#link {
  text-decoration: none;
  color: yellow;
  font-size: 45pt;
}

#target {
  padding-top: 50px;
}
